/* general HTML customization */
html, body { padding: 0px; margin: 0px; }
body {
    background: #101010;
    color: #f2f2f2;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.45em;
}
p {}
blockquote {}
a {color: #5C0009;}
a:hover {color: #940315;}
a:visited {color: #470007;}
a:visited:hover {color: #940315;}

/* pure hAtom styling */
.hfeed { width: 560px; margin: 0px auto;} /* main feed items container */
.hentry {margin-top: 70px; margin-bottom: 30px;} /* feed item aka post */
.hentry p { margin: 0px; margin-bottom: 24px;}
.hentry .entry-summary, .hentry .entry-content,
.hentry .tags, .hentry .post-meta {
    background: #393845;
    color: #C7C2CF;
    width: 500px;
    margin: 0px auto;
    margin-bottom: 1px;
    padding: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.45em;
} /* post text, place for additional typography */
.hentry .entry-title {
    background: #9B96A3;
    color: #940315;
    margin: 0px;
    padding: 5px 12px;
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.4em;
} /* post title */
.hentry .entry-title a { color: #940315;}
abbr.published, abbr.updated {} /* post date */
address {display: inline;} /* post author in hCard format*/

/* mixed hAtom + content customization
   may be used for image or headings styling in hAtom feed content */
.hentry .tags {}
.hentry .post-meta {}
.entry-content a {}
.entry-content blockquote {}
.entry-content img {}
.entry-content p {} /* place for additional typography */

/* non-hAtom additional styling */
h1#main-title {
    margin-bottom: 0px;
    font-size: 36px;
    font-family: Georgia, serif;
    text-transform: uppercase;
    text-shadow: 0.15em 0.15em #000;
}
h1#main-title a { text-decoration: none; }

/* additional ala blog layout styling */
#header {}

.metablock, #footer {
    background: #535163;
    color: #C7C2CF;
    width: 86%;
    margin: 10px auto;
    padding: 16px;
    font-family: “Lucida Grande”, sans-serif;
    font-size: 14.67px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: normal;
    line-height: 1.5em;
} /* something like sidebar, but more generic, depending on layout */